


<!-- As a heading -->
<header class="top-header">
    <nav class="navbar bg-light">
        <div class="container">
            <div class="top-header-wrapper">
    
                <div class="top-header-left">
                    <div class="top-header-email-wrapper">
                        <i class="fa-solid fa-envelope me-2"></i><span class="top-header-email">tali6184@gmail.com</span>
                    </div>
                    <div class="top-header-right">
                        <p>free shopping for all order of <span>{{99 | currency}}</span></p>
                    </div>
                </div>
    
                <div class="top-header-right">
                    <div class="top-header-social-wrapper">
                        <div class="top-header-icons">
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-linkedin"></i>
                            <i class="fab fa-pinterest-p"></i>
                        </div>
                    </div>
                    <div class="top-header-language">
                        <img src="assets/img/language.png" alt="language"> <span>English</span>
                        <ul>
                            <li><a href="#">Spanis</a></li>
                            <li><a href="#">English</a></li>
                        </ul>
                    </div>
                    <div class="top-header-login">
                        <i class="fa fa-user"></i><span>Login</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<app-main-header></app-main-header>
