
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 left-slider">
            <app-todo-list [mainList]="list">
                <span>All Departments</span>
            </app-todo-list>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-12">
            <app-search-categories></app-search-categories>
        </div>
    </div>
</div>

<app-section-header>
    <h2>Vegetable’s Package</h2>
    <a routerLink="/">Home Vegetables </a>
    <span>Vegetables's Packege</span>
</app-section-header>


<app-shop-details-section></app-shop-details-section>