

<div class="main-menu-search">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="main-menu-search-form">
                <span>All Categories <i class="fa fa-angle-down"></i></span>
                <input type="text" class="form-control" placeholder="what do you need ?">
                <button class="btn btn-success">search</button>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="main-menu-search-phone">
                <div class="main-menu-search-phone-icon">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div class="main-menu-search-phone-number">
                    <div class="number">
                        +012 0353 4642
                    </div>
                    <span class="support">
                        support 24/7 time
                    </span>
                </div>
            </div>
        </div>
    </div><!--./row-->
   
</div>