

<section class="footer top-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-info">
                    <div class="footer-info-logo">
                        <img src="/assets/img/logo.png" alt="logo" draggable="false">
                    </div>
                    <ul>
                        <li>Address: 60-49 Road 11378 New York</li>
                        <li>Phone: +01203534642</li>
                        <li>Email: tali6184@gmail.com</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
              <div class="footer-widget">
                <h6>Useful Links</h6>

                <div class="footer-widget-list">
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">about our shop</a></li>
                        <li><a href="#">secure shopping</a></li>
                        <li><a href="#">delivery information</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">our sitemap</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">who we are</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">projects</a></li>
                        <li><a href="#">contact</a></li>
                        <li><a href="#">innovation</a></li>
                        <li><a href="#">testimonials</a></li>
                    </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="footer-community">
                <h6>Join Our Newsletter Now</h6>
                <p>Get E-mail updates about our latest shop and special offers.</p>

                <div class="footer-community-subs">
                    <input type="text" placeholder="Enter your mail">
                    <button class="btn btn-success">subscribe</button>
                </div>

                <ul class="footer-community-list mt-4">
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
        </div> <!--./row-->


        <div class="footer-copy">
           
                <div class="footer-copy-content">
                    <div class="footer-copy-content-text">
                        <p>Copyright &copy;2022 All rights reserved | This template is made with
                            <i class="fa-solid fa-heart"></i> by <a href="#">Aly Tarek</a>
                        </p>
                    </div>

                    <div class="footer-copy-content-photos">
                        <img src="/assets/img/payment-item.png" alt="payment" draggable="false">
                    </div>
                   
                </div>
            </div>
     </div>
</section>