.paginator {
    margin-top: 60px;
    .paginator-list {
        display: flex;
        gap: 1rem;

        .paginator-item {
            a {
                width: 30px;
                height: 30px;
                font-size: 14px;
                font-weight: 700;
                border: 1px solid var(--third-color);
                color: var(--third-color);
                padding: 0 10px;
                transition: all 0.5s;
                &:hover {
                    background-color: var(--main-color);
                    color: #FFF;
                    border-color:  #FFF;
                }
            }
        }
    }
}