<div class="blog-sidebar">
    <div class="blog-sidebar-search">
        <form>
            <input type="text" placeholder="Search...">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div> <!--./blog-sidebar-search-->

    <div class="blog-sidebar-item">
        <h4>categories</h4>
        <ul>
            <li><a href="#">All</a></li>
            <li><a href="#">Beauty (20)</a></li>
            <li><a href="#">Food (5)</a></li>
            <li><a href="#">Life Style (9)</a></li>
            <li><a href="#">Travel (10)</a></li>
        </ul>
    </div> <!--./blog-sidebar-item-->

    <div class="blog-sidebar-item">
        <h4>recent news</h4>          
        <div class="blog-sidebar-item-recent">
            <a href="#" class="blog-sidebar-item-recent-item">
                <div class="blog-sidebar-item-recent-item-pic">
                    <img src="assets/img/blog/sidebar/sr-1.jpg" alt="blog">
                </div>
                <div class="blog-sidebar-item-recent-item-text">
                    <h6>09 Kinds Of Vegetables<br>
                        Protect The Liver</h6> 

                        <span>MAR 05, 2019</span>
                </div>
            </a> <!--./blog-sidebar-item-recent-item-->

            <a href="#" class="blog-sidebar-item-recent-item">
                <div class="blog-sidebar-item-recent-item-pic">
                    <img src="assets/img/blog/sidebar/sr-2.jpg" alt="blog">
                </div>
                <div class="blog-sidebar-item-recent-item-text">
                    <h6>Tips You To Balance<br>
                        Nutrition Meal Day</h6> 

                        <span>MAR 05, 2019</span>
                </div>
            </a> <!--./blog-sidebar-item-recent-item-->

            <a href="#" class="blog-sidebar-item-recent-item">
                <div class="blog-sidebar-item-recent-item-pic">
                    <img src="assets/img/blog/sidebar/sr-3.jpg" alt="blog">
                </div>
                <div class="blog-sidebar-item-recent-item-text">
                    <h6>4 Principles Help You Lose <br>
                        Weight With Vegetables</h6> 

                        <span>MAR 05, 2019</span>
                </div>
            </a> <!--./blog-sidebar-item-recent-item-->
        </div>   
    </div> <!--./blog-sidebar-item-->

    <div class="blog-sidebar-item">
        <h4>search by</h4>
        <div class="blog-sidebar-item-tags">
            <a href="#">apple</a>
            <a href="#">beauty</a>
            <a href="#">vegetables</a>
            <a href="#">fruit</a>
            <a href="#">healthy food</a>
            <a href="#">lifestyle</a>
        </div>
    </div>
</div>