

<section class="colors mt-5">

    <h4>Colors</h4>
    <div class="container-fluied">
        <div class="row">
            <div class="col-sm-6">
                <div class="colors-item white">
                    <span></span>
                    White
                </div>
            </div>


            <div class="col-sm-6">
                <div class="colors-item gray">
                    <span></span>
                    Gray
                </div>
            </div>

            <div class="col-sm-6">
                <div class="colors-item red">
                    <span></span>
                    Red
                </div>
            </div>

            <div class="col-sm-6">
                <div class="colors-item black">
                    <span></span>
                    Black
                </div>
            </div>

            <div class="col-sm-6">
                <div class="colors-item blue">
                    <span></span>
                    Blue
                </div>
            </div>

            <div class="col-sm-6">
                <div class="colors-item green">
                    <span></span>
                    Green
                </div>
            </div>
        </div> <!--./row-->
    </div>
</section>