

<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <app-left-sidebar [mainList]="list">
                    <span>all departments</span>
                </app-left-sidebar>
            </div>

            <div class="col-lg-9 col-md-12 content-main-page">
                <app-search-categories></app-search-categories>
                <app-landing-section-slider></app-landing-section-slider>
            </div>
        </div>  <!--./row-->
    </div>
</div>



