

<section class="size">
    <h4>popular size</h4>

    <div class="size-item-content">

    <div class="size-item">
        <label for="large">Large</label>
        <input type="radio">
    </div>

    <div class="size-item">
        <label for="meduim">Meduim</label>
        <input type="radio">
    </div>

    <div class="size-item">
        <label for="small">Small</label>
        <input type="radio">
    </div>
  
    <div class="size-item">
        <label for="tiny">Tiny</label>
        <input type="radio">
    </div>

    </div>
</section>