p {
    font-family: "Cairo", sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}
 
 h2 {
    font-size: 46px;
    padding-top: 125px;
 }
 
 ul {
    li {
        display: inline-block;
        font-size: 16px;
        margin-right: 45px;
        position: relative;
        &::after {
            content: '|';
            position: absolute;
            top: 0;
            right: -26px;
        }

        &:last-child::after{
            content: '';
        }

    }

    padding-bottom: 125px;
       
 }


 /***********/

 .blog-details-text {
    img {
        margin-bottom: 30px;
        max-width: 100%;
    }

    p {
        font-size: 18px;
        line-height: 30px;
    }

    h3 {
        color: #333333;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 30px;
    }
 }


 .blog-details-author {
    display: flex;
    gap: 1rem;
    align-items: center;
 
    &-pic {
        img {
            border-radius: 50%;
        }
    }
    h6 {
        color: var(--secondary-color);
        font-weight: 700;
        margin: 0;
    }
    span {
        color: #6f6f6f;
    }
 }

 .blog-details-widget {
    ul {
        margin-bottom: 5px;
        padding: 0;
        li {
            display: block;
            margin: 0;
            font-size: 16px;
            color: #6f6f6f;
            list-style: none;
            line-height: 30px;
            span {
                font-size: 16px;
                color: var(--secondary-color);
                font-weight: 700;
                text-transform: capitalize;
                margin-right: 5px;
            }
            &::after {
                content: none;
            }
        }
    }
 }


 .blog-details-social {
    a {
        display: inline-block;
    font-size: 20px;
    color: #6f6f6f;
    margin-right: 24px;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;

    &:hover {
        color: var(--main-color);
    }
    }
 }


 