
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <div class="accordion-header" id="panelsStayOpen-headingOne">
        <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            <div class="main-menu">
                <div class="menu-button">
                    <i class="fa fa-bars"></i>
                    <ng-content select="span"></ng-content>
                    <i class="fa fa-angle-down"></i>
                    
                </div>
            </div>
        </div>
      </div>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
            <div class="left-side-list">
                <ul>
                    <li *ngFor="let item of mainList">
                        <a href="">{{item.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </div>