
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 left-slider">
            <app-todo-list [mainList]="list">
                <span>All Departments</span>
            </app-todo-list>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-12">
            <app-search-categories></app-search-categories>
        </div>
    </div>
</div>

<app-section-header>
    <h2>Blog</h2>
    <a routerLink="/">Home</a>
    <span>Blog</span>
</app-section-header>



<section class="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <app-blog-sidebar></app-blog-sidebar>
            </div>

            <div class="col-lg-8 col-md-7">
                <div class="blog-items">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="blog-item">
                                <div class="blog-item-pic">
                                    <img src="../../../assets/img/blog/blog-1.jpg" alt="">
                                </div>
            
                                <div class="blog-item-text">
                                    <ul>
                                        <li><i class="fa-regular fa-calendar"></i> May 4,2019</li>
                                        <li><i class="fa-regular fa-comment"></i> 5</li>
                                    </ul>
            
                                    <h5><a href="#">Cooking tips make cooking simple</a></h5>
            
                                    <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                                    <a href="#" class="blog-btn">read more <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div> <!--./blog-item-->
                        </div> <!--./col-md-6-->
        
                        <div class="col-lg-6 col-md-6">
                            <div class="blog-item">
                                <div class="blog-item-pic">
                                    <img src="../../../assets/img/blog/blog-2.jpg" alt="">
                                </div>
            
                                <div class="blog-item-text">
                                    <ul>
                                        <li><i class="fa-regular fa-calendar"></i> May 4,2019</li>
                                        <li><i class="fa-regular fa-comment"></i> 5</li>
                                    </ul>
            
                                    <h5><a href="#">Cooking tips make cooking simple</a></h5>
            
                                    <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
        
                                    <a href="#" class="blog-btn">read more <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div> <!--./blog-item-->
                        </div> <!--./col-md-6-->
        
                        <div class="col-lg-6 col-md-6">
                            <div class="blog-item">
                                <div class="blog-item-pic">
                                    <img src="../../../assets/img/blog/blog-3.jpg" alt="">
                                </div>
            
                                <div class="blog-item-text">
                                    <ul>
                                        <li><i class="fa-regular fa-calendar"></i> May 4,2019</li>
                                        <li><i class="fa-regular fa-comment"></i> 5</li>
                                    </ul>
            
                                    <h5><a href="#">Cooking tips make cooking simple</a></h5>
            
                                    <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                                    <a href="#" class="blog-btn">read more <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div> <!--./blog-item-->
                        </div> <!--./col-md-6-->
        
                        <div class="col-lg-6 col-md-6">
                            <div class="blog-item">
                                <div class="blog-item-pic">
                                    <img src="../../../assets/img/blog/blog-4.jpg" alt="">
                                </div>
            
                                <div class="blog-item-text">
                                    <ul>
                                        <li><i class="fa-regular fa-calendar"></i> May 4,2019</li>
                                        <li><i class="fa-regular fa-comment"></i> 5</li>
                                    </ul>
            
                                    <h5><a href="#">Cooking tips make cooking simple</a></h5>
            
                                    <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                                    <a href="#" class="blog-btn">read more <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div> <!--./blog-item-->
                        </div> <!--./col-md-6-->
        
                        <div class="col-lg-6 col-md-6">
                            <div class="blog-item">
                                <div class="blog-item-pic">
                                    <img src="../../../assets/img/blog/blog-5.jpg" alt="">
                                </div>
            
                                <div class="blog-item-text">
                                    <ul>
                                        <li><i class="fa-regular fa-calendar"></i> May 4,2019</li>
                                        <li><i class="fa-regular fa-comment"></i> 5</li>
                                    </ul>
            
                                    <h5><a href="#">Cooking tips make cooking simple</a></h5>
            
                                    <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                                    <a href="#" class="blog-btn">read more <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div> <!--./blog-item-->
                        </div> <!--./col-md-6-->
        
                        <div class="col-lg-6 col-md-6">
                            <div class="blog-item">
                                <div class="blog-item-pic">
                                    <img src="../../../assets/img/blog/blog-6.jpg" alt="">
                                </div>
            
                                <div class="blog-item-text">
                                    <ul>
                                        <li><i class="fa-regular fa-calendar"></i> May 4,2019</li>
                                        <li><i class="fa-regular fa-comment"></i> 5</li>
                                    </ul>
            
                                    <h5><a href="#">Cooking tips make cooking simple</a></h5>
            
                                    <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                                    <a href="#" class="blog-btn">read more <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div> <!--./blog-item-->
                        </div> <!--./col-md-6-->
                       </div>
                </div> <!--./blog-items-->

                <app-paginator></app-paginator>
            </div>
        </div>
    </div>
</section>